<div class="row marketing">
	<div class="col-lg-6">
		<%= simple_form_for @pokemons do |f| %>
		  <%= f.input :id %>
		  <%= f.input :name %>
		  <%= f.input :level %>
		  <%= f.input :description %>
		  <%= f.input :user_id %>
		  <%= f.button :submit %>
		<% end %>
	</div>
</div>